{% extends 'account/Employer/employer_profile.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block profilecontents %}
     <div class="container p-5">
      <div class="row">
          <div class="col-2">
          </div>
            <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded ">
                <div class="container rounded">
                    <form method = 'POST', autocomplete=off novalidate>
                    {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Job {{ post_type }}</legend>
                            <div class = "container">
                                {{ form.media }}
                                {{ form|crispy }}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info btn-block">Save and request to admin</button>
                        </div>
                    </form>
                </div>
             </div>                 
          
          <div class="col-2">
          </div>
      </div>
  </div>    
  
{% endblock profilecontents %}