{% extends 'account/Employer/employer_profile.html' %}
{% load static %}


{% block profilecontents %}
   <div class="container border bg-white p-5 mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="border rounded bg-light profile-pic-section">
                        
                        <div class="profile-pic pt-4 justify-content-center d-flex ">
                            <img src=" {{ profile.ProfileImage.url }} " class="rounded-circle inf-fluid" alt="profile-pic">
                        </div>
                        
                        <div class="username-online-acc border-top mt-3 w-100">
                            <h6 class="username justify-content-center d-flex mt-1"><i class="fa fa-envelope pr-2"></i>{{ profile.user.email }}</h6>
                            <div class="justify-content-center d-flex">
                            {% if not profile %}
                            
                            {% else %}
                                <div class="p-2">
                                    <a href="{{ profile.Facebook }}"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="p-2">
                                    <a href="{{ profile.Twitter }}"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="p-2">
                                    <a href="{{ profile.Instagram }}"><i class="fa fa-instagram"></i></a>
                                </div>
                            {% endif %}
                                
                            </div>
                        </div>   
                    </div> 

                    
                    <div class="card mt-5 bg-light">
                        <div class="card-body p-0">
                            <h5 class="card-title border-bottom justify-content-center d-flex">About</h5>
                            <p class="card-text pl-2 pr-2 pb-2">{{ profile.AboutMe|safe }}</p>
                        </div>
                    </div> 

                    <div class="card mt-5 bg-light">
                        <div class="card-body p-0">
                            <h5 class="card-title border-bottom justify-content-center d-flex">Cv</h5>
                            <a href="{{ profile.UploadCv.url }}" class="btn button-apply-job" target="_blank"><i class="fa fa-download"></i> Download Cv </a>
                        </div>
                    </div> 
                </div>
    
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-hover table-responsive table-borderless border-0">
                                    <div class="table-heading d-flex">
                                        <h6 class="mr-auto">Account Detail</h6>
                                    </div>
        
                                    
                                        <tr>
                                            <th scope="row">First Name:</th>
                                            <td>{{ profile.FirstName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Last Name:</th>
                                            <td>{{ profile.LastName }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Gender:</th>
                                            <td>{{ profile.Gender }}</td>
                                        </tr>
                                        
                                        <tr>
                                            <th scope="row">Marriage Status:</th>
                                            <td>{{ profile.MarrigeStatus }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Religion:</th>
                                            <td>{{ profile.Religion }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Phone Number:</th>
                                            <td>{{ profile.PhoneNumber }}</td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Nationality:</th>
                                            <td>{{ profile.Nationality }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Current Address:</th>
                                            <td>{{ profile.CurrentAddress }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Pernament Address:</th>
                                            <td>{{ profile.PernamentAddress }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Education:</th>
                                            <td>{{ profile.Education }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Education Program:</th>
                                            <td>{{ profile.EducationProgram }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Education Board:</th>
                                            <td>{{ profile.EducationBoard }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Name Of Institute:</th>
                                            <td>{{ profile.NameOfInstitute }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Education:</th>
                                            <td>{{ profile.Education }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">My Skill:</th>
                                            <td>{{ profile.MySkill }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Working Experience:</th>
                                            <td>{{ profile.WorkingExperience }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Worked Field:</th>
                                            <td>{{ profile.WorkedField }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Worked Company Name:</th>
                                            <td>{{ profile.WorkedCompanyName }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">WorkedCompanyWebsite:</th>
                                            <td>{{ profile.WorkedCompanyWebsite }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Job Category:</th>
                                            <td>{{ profile.JobCategory }}</td>
                                        </tr>
        
                                        <tr>
                                            <th scope="row">Language:</th>
                                            <td>{{ profile.Language }}</td>
                                        </tr>
                                            
                                    
                                </table>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock profilecontents %}