{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class = "about_content mb-5" >
    <div class="sec">
  <div class="abt">
    <img src="about.png" alt="SmartKTM">
    
  </div>
  
  <div class="para">
    <h1>SmartKTM jobs</h1> 
  <p>SmartKTM jobs is one of the leading and growing job portals in Kathmandu, Nepal. Our mission is to lead the Internet employment industry in Nepal by providing innovative information, superior resume management software and a comprehensive selection of services.SmartKTM jobs is covering almost every job in Nepalese job market with free job posting service to job provider. RamroJob aims at providing detailed information to job seeker at free of cost. Currently, SmartKTM jobs member are continuously working on website improvement and making website more user-friendly. We, at SmartKTM jobs always respect our customers and job seekers privacy. We don’t sell information about our clients /customer to third party at any cost without their consent.Smart KTM jobs offers services to the recruiting and job-seeking community in Kathmandu, Nepal. We are the only recruitment service provider with 100% free service to all the jobseekers.
  It is our mission to bring the burgeoning Nepalese Internet and computing talent to bear on international Web development.<br/><br/>
  Jai Nepal!</p>

  
  </div>
</div>

<div class="team">

   <h1 >Our Team</h1>
   <p>Brought together with a vision to design the future of work with proven combination of industry, technology and consulting expertise.</p>
   <div class="member" style="background-color:white;">
    <h3> Ajaya Pudasaini</h3>
    <h2>Co-Founder and Chairman</h2>
    <p>A renowned entrepreneurial leader and specialist with 20+ years’ success in strategic acquisitions.</p>
  </div>
  <div class="member" style="background-color:white;">
    <h3>Dejina Ghale</h3>
    <h2>Co-Founder and Chief Visionary Officer</h2>
    <p>Recruitment and tech thought-leaderwith tremendous industry experience.Former MD of Compuvac and CEO(Europe).

</p>
  </div>
  <div class="member" style="background-color:white;">
    <h3> Hardik Gurung</h3>
    <h2>Chief Operations Officer</h2>
    <p>Former Managing Director of Dice Energy International and Managing Director OilCareers.com.</p>
  </div>
  <div class="member" style="background-color:white;">
    <h3>Sadiksha Pandey</h3>
    <h2>Chief Technical Officer</h2>
    <p>Former Head of R&D and overall head of search for Jobsite. Creator and co-inventor of MyJobMatcher resume search and match engine.</p>
  </div>

  <div class="member" style="background-color:white;">
    <h3> Prasis Gautam</h3>
    <h2>Chief Revenue Officer</h2>
    <p>Former Vice President of Monster - Talent Fusion with over fifteen years of recruitment industry experience.</p>
  </div>
  <div class="member" style="background-color:white;">
    <h3>Sriyanka Prajapati</h3>
    <h2>Advisor</h2>
    <p>A leader specialist in recruitment technology for more than 25 years.co-inventor of MyJobMatcher resume search and match engine.

</p>
  </div>
  <div class="member" style="background-color:white;">
    <h3> Manikant Yadav</h3>
    <h2>Global Creative Director(Supporting Team)</h2>
   
  </div>
  <div class="member" style="background-color:white;">
    <h3>Shantosh Yadav </h3>
    <h2>Head of Marketing (Supporting Team)</h2>
    
  </div>
</div>
</main>
{% endblock content %}