{% extends 'account/jobseeker/profile.html' %}
{% load static %}
{% load crispy_forms_tags %}





{% block profilecontent %}
  <div class="container p-5">
      <div class="row">
          <div class="col-3">
          <div class="nav flex-column nav-pills nav-fill">
              <a class="nav-link active" href="{% url 'jobseeker:jobseeker_profile_add_skill' %}">Skill</a>
              <a class="nav-link" href="{% url 'jobseeker:jobseeker_profile_add_category' %}">Category</a>
              <a class="nav-link" href="{% url 'jobseeker:jobseeker_profile_add_detail' %}">All Detail</a>
          </div>
          </div>
          <div class="col-9">
                  <div class="container border rounded bg-light">
                    <form method = 'POST' novalidate>
                    {% csrf_token %} 
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add Skill in database</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info btn-block">Save</button>
                        </div>
                    </form>
                </div>                   
          </div>
      </div>
  </div>    
  

{% endblock profilecontent %}



