{% extends 'base.html' %}
{% load static %}







{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="container justify-content-center d-flex navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'jobseeker:jobseeker_profile_detail' user.id  %}">Profile <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'saved_jobs' %}">Saved Job <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'applied_jobs' user.username %}">Applied Job <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'employer_profile' %}"> Search Company <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'jobseeker:jobseeker_profile_setting' %}">Settings <span class="sr-only">(current)</a>
                </li>
            </ul>
        </div>
    </nav>


    {% block profilecontent %}

    {% endblock profilecontent %}
{% endblock content %}







