{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <div class="card mt-5">
        <div class="card-header">
            User Account Delete
        </div>
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
                Are you sure want to pernamantely delete {{ user.username }} account

            </div>
            <form method="POST">
                {% csrf_token %}
                    <a href="{% url 'jobseeker:jobseeker_dashboard'  %}" class="btn btn-outline-info">Cancel</a>
                    <button type="submit" class="btn btn-primary">
                    Delete
                    </button>
            </form>

        </div>
        
        
    </div>
</div>
{% endblock content %}
