{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container p-5">
        {% comment %} <div class="mx-auto mt-5" style="width: 400px;"> {% endcomment %}
            <div class="container border rounded bg-light">
            {{ job.job.JobTitle }}
                <form method = 'POST'>
                {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Job Apply</legend>
                        <input type="hidden" name="next" value="{{ next }}">
                            {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info btn-block">Apply Job</button>
                    </div>
                </form>
            </div>
        {% comment %} </div> {% endcomment %}
    </div>
{% endblock %}
