{% extends 'base.html' %}
{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content %}



<div class="container">
   <div class="row mt-5">
    <div class="col-md-7">
      <div class="company-banner">
        <img src="{{ mypost.HiringBanner.url }}" class="img-fluid">
      </div>

      <div class="company-profile mt-4 bg-white p-3">
        <div class="row bg-white profile-section no-gutters">
          <div class="col-md-3 mt-3 company-logo">
            <img src="{{ mypost.user.employerrprofile.CompanyLogo.url }}" class="img-fluid rounded-circle">
          </div>

          <div class="col-md-9 mt-3 company-name">
            <h4> {{ mypost.user.employerrprofile.CompanyName }}</h4>
            <small>{{ mypost.user.employerrprofile.CompanyCategory }}</small><br>
            <h6><i class="fa fa-map-marker"></i> Kathmandu</h6>

            <button type="button" class="button-view-company-profile"><i class="fa fa-globe"></i> View company Profile</button>  
          </div>
        </div>
      </div>

      <div class=" mt-2 mb-5 job-section">
        <div class="basic-job-information-section border mb-3 bg-white">
        <h5 class="job-info p-3 border">{{ mypost.JobTitle }} <small><i class="fa fa-eye"></i> views(200)</small></h5> 
          <h5 class="job-info p-3 border-bottom">Basic Job Information</h5>

          <div class="container mb-5">
              <table class="table table-hover table-responsive table-borderless border-0">
                <tr>
                  <th scope="row">Job Category:</th>
                  <td>{{ mypost.JobCategory }}</td>
                </tr>
                <tr>
                  <th scope="row"> Location :</th>
                  <td>{{ mypost.Location }}</td>
                </tr>
                <tr>
                  <th scope="row">Number Of Vacancies:</th>
                  <td>{{ mypost.NumberOfVacancies }}</td>
                </tr>
                <tr>
                  <th scope="row">Job Level:</th>
                  <td>{{ mypost.JobLevel }}</td>
                </tr>
                <tr>
                  <th scope="row">Time:</th>
                  <td>{{ mypost.AvaliableTime }}</td>
                </tr>

                <tr>
                  <th scope="row">Salary:</th>
                  <td>Rs. {{ mypost.SalaryStart }} - {{ mypost.EndSalary }}</td>
                </tr>

                <tr>
                  <th scope="row">Shift:</th>
                  <td> {{ mypost.JobShift }}</td>
                </tr>

                <tr>
                  <th scope="row">Required Education:</th>
                  <td> {{ mypost.RequiredEducation }}</td>
                </tr>

                <tr>
                  <th scope="row">Required Experience:</th>
                  <td> {{ mypost.RequiredExperience }} year.</td>
                </tr>
                

                <tr>
                  <th scope="row">Required Skill:</th>
                  <td> {{ mypost.RequiredSkill }}</td>
                </tr>

                <tr>
                  <th scope="row">Gender:</th>
                  <td> {{ mypost.Gender }}</td>
                </tr>


                                            
              </table>
          </div>
        </div>
            

        <div class="job-description border mb-3 bg-white">
          <h3 class="job-info p-3 border-bottom">Job Descriptions</h3>
          <div class="container mb-5">
            {{ mypost.JobDescreptions|safe }}
          </div>
        </div>


        <div class="job-specification border mb-2 bg-white">
          <h3 class="job-info p-3 border-bottom">Job Specification</h3>
          <div class="container mb-5">
            {{ mypost.JobSpecification|safe }}
          </div>
        </div>
        <div class="job-specification border mb-2 bg-white">
          <div class="row p-2 d-flex">
            <a href="" class="btn button-apply-job"><i class="fa fa-plus"></i> Apply Now</a>
            <a href="" class="btn button-save-job"><i class="fa fa-save"></i> Save Job</a>
          </div>
        </div>

        <div class="job-specification border mb-5 bg-white">
          <div class="row">
              
              <div class="col-sm-4">
                <a href="" class="btn disabled" aria-disabled="true"><i class="fa fa-eye"></i>Views(500)</a>
              </div>
              <div class="col-sm-4 ml-auto">
              <div class="fb-share-button" data-href="http://127.0.0.1:8000/employer/my/jobs/public/preview/{{ user.username }}/{{ mypost.id }}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Femployer%2Fmy%2Fjobs%2Fpublic%2Fpreview%2FEmployerAjay%2F8&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                {% comment %} <a href="#" class="btn"><i class="fa fa-share"></i>share</a> {% endcomment %}
              </div>
            </div>
        </div>

      </div>

    </div>
    <div class="col-md-5">
      <div class="sidebar">
        <div class="container-fluid">
          <div class="job-action border bg-white p-3">
            <h6 class="border-bottom p-0">Job Action</h6>
            <div class="btns d-flex mt-4">
                <a href="" class="btn button-apply-job"><i class="fa fa-plus"></i> Apply Now</a>
                <a href="" class="btn button-save-job"><i class="fa fa-save"></i> Save Job</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

{% endblock content %}