body{
    font-family: "Kaushan Script", cursive;
    background-color:rgb(243, 241, 240);
}
.navbar{
    background-color: #ffffff;
    color: black;
}
.navbar-brand{

    color: black;
}
.nav-item .nav-link{
    color: black;
    font-size: 18px;

}
.navbar-toggler-icon{
    color: white;
    border: 1px solid black;
    background-color: black;
}
.btn-post-job{
    /*border: 1px solid black;*/
    border-radius: 5px;
    font-size: 20px;
    background-color: orange;
    color: white;
}
.div-car{
    height: 800px;
    width: 100%;
    background-color: blue;
}
.div-car .carousel-inner .carousel-item img{
    height: 800px;
    width: 100%;
}

.slider-content{
    position: absolute;
    top: 240px;
    color: #f0e8e8;
    /*margin-left: 100px;*/
    font-family: Calisto Mt;
    z-index: 1;

}


.slider-content h1{
    font-size: 100px;
}
.slider-content h2{
    margin-left: 10px;
    font-size: 80px;
}
.slider-content h4{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}
.register-as{
    padding-top: 20px;
}
.jobseeker{
    border: 2px solid #f0e8e8;
    font-size: 25px;
    color: white;

}
.jobseeker:hover{
    border: 1px solid #52d524;
    color: #8cf468;
}
.employeer{
    border: 2px solid #f0e8e8;
    margin-left: 50px;
    font-size: 25px;
    color: #f0e8e8;
}
.employeer:hover{
    border: 1px solid #52d524;
    color: #8cf468;
}
.register-as a:hover{
    color: white;
}

@media screen and (max-width: 767px) {
  .jobseeker{
    border: 2px solid #f0e8e8;
    font-size: 18px;
    color: white;
    }

    .employeer{
    border: 2px solid #f0e8e8;
    margin-left: 40px;
    font-size: 18px;
    color: #f0e8e8;
    }

}

.as-used-by{
    /*border: 1px solid #a5a5a4;*/
    top: 1px;
    /*position: relative;*/
    /*margin-top: -100px;*/
    height: 80px;
    background-color: #cee0ce;
    display: inline-block;
}
.as-used-by h4{
    font-family: BookmanOld Style;
}

.company-logos{
    margin-top: -45px;
    margin-left: 120px;
}
.company-logos img{
    padding-left: 40px;
}

@media screen and (max-width: 1200px) {
    .as-used-by h4{
        font-family: BookmanOld Style;
        font-size: 18px;
    }

    .company-logos{
        margin-top: -35px;
        margin-left: 80px;
    }
    .company-logos img{
        padding-left: 1px;
        height: 40px;
        width: 40px;
    }

}
@media screen and (max-width: 1000px) {
    .as-used-by h4{
        font-family: BookmanOld Style;
        font-size: 15px;
    }

    .company-logos{
        margin-top: -30px;
        margin-left: 80px;
    }
    .company-logos img{
        padding-left: 1px;
        height: 30px;
        width: 30px;
    }

}
@media screen and (max-width: 700px) {
    .as-used-by {
        border: 1px solid #a5a5a4;
        top: 1px;
        /*position: relative;*/
        /*margin-top: -100px;*/
        height: 150px;
        background-color: #cee0ce;
        display: inline-block;
        }
        .company-logos img{
        padding-left: 6px;
        padding-top: 6px;
        height: 50px;
        width: 50px;
       }
       .as-used-by h4{
        font-family: BookmanOld Style;
        font-size: 20px;
    }

    .company-logos{
        margin-top: -30px;
        margin-left: 100px;
    }

}
.services-section{
    min-height: 500px;
}
.services{
    margin-top: 100px;
    margin-bottom: 100px;
}
.icon .icons{
    font-size: 100px;
    color: blue;
}
.hot-job-text{
    /* height: 50px; */
    background-color: white;
    color: black;
    margin-top: 80px;
    margin-bottom: 30px;
    /* align-items: center; */
    /* text-align: center!important; */
    /* margin-left: 50%; */
}
.hot-job-text h3{
    /* text-align: center!important; */
    text-transform: uppercase;
    font-family: Bookman Old Style;
}
.h-j-c{
    margin-top: 30px;
}
.hot_jobs_card{
    border-color: chartreuse!important;
    
}
.hot_jobs_card:hover{
    border-top: 1px solid rgb(115, 238, 84)!important ;
    border-left: black!important;
    box-shadow: 5px 10px 15px rgb(167, 245, 89);
}
.hot-job-card .row .card .card-body h5,p{
    margin-bottom: 5px;
}
.latest-Jobs{
    background-color: blue;
    height: 500px;
}


.job-Categories-text{
    margin-top: 80px;
    /* margin-bottom: 30px; */
    text-transform: uppercase;
    font-family: Bookman Old Style;
}

.job-Categories-list{
    font-size: 20px;
    /*letter-spacing: 2px;  */
    color: black;  
    /*line-height: 40px;*/
}
.job-Categories-list li{
    list-style: circle;
}
.job-Categories-list li a{
    text-decoration: none;
    color: black;
    font-family: Consolas;
}
.job-Categories-list li a:hover{
    color: #6d6f71;
}

.fullcontent{
    padding:80px;
}


.google-map{
    height: 300px;
    background-color: blue;
    color: white;

}



/* browse job */
.search-section{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    
}
.search_forms{
    margin-top: 20px;
}

/* .form-group{
    border-radius: none !important;
    padding-left: 10px;
    width: 500px;
} */
.search-job-form{
    border-radius: none !important;
    padding-left: 10px;
    /* width: 700px; */
    width: 100%;
}

.job-list-filter .header{
    height: 40px;
    text-align: center;
    padding: 5px;
    /* border: 2px solid black; */
}

.job-list-item .header{
    height: 40px!important;
}
/* .job-list-item .footer{
    height: 40px!important;
} */
.btn-favorite .fa {
    color: rgb(209, 197, 197)(190, 175, 175);
    /* border: 1px solid rgb(104, 102, 102); */
}





.media{
    background-color: rgb(253, 253, 253);
    color: rgb(39, 37, 35);
    border: 1px solid rgb(177, 169, 169);
    width: 80%;
    height: auto;
    margin-left: 16%;
    border-radius: 5px;
    

}
.account-img{
    width: 60px;
    height: 60px;
}
.medias-body{
    /* margin-left: -6%; */
    float: right;
    margin-right: 65%;
}
.media-body{
    margin-left: 6%;
    margin-right: 2%;
}
.article-metadata{
    border-bottom: 1px solid rgb(216, 197, 197);
}
.article-metadata a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(185, 137, 224);
    text-transform: capitalize;
  }
.media-body h2 a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(66, 70, 69);

}


/* login page */

.login_as_by i{
    font-size: xx-large;
}
.or_login_as{
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    margin-top: 5px;;
}




.company-banner{
    height: 300px;
    width: 100%;
    background-color: blue;
}
.company-banner img{
    height: 300px;
    width: 760px;
}




.company-logo{
    height: 100px;
    width: 100px;
}
.company-logo img{
    height: 100px;
    width: 100px;
}

.button-view-company-profile{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    outline: none;
    /*padding: 8px;*/
    height: 30px;
    width: auto;
}
.button-view-company-profile:hover{
    border-color: orange;
    background-color: red;
    color: white;
}

.button-save-job{
    border: 1px solid black;
    outline: none;
    background-color: transparent;
    padding: 8px;
    margin-left: 10%;
}
.button-save-job:hover{
    border: none;
    border-radius: 2px;
    background-color: darkblue; 
    color: white;
}

.button-apply-job{
    background-color: orange;
    border: none;
    color: white;
    margin-left: 10%;
}
.button-apply-job:hover{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}

.table-borderless th{border:0;}
.table-borderless td{border:0;}




/*====footer====*/


#footer{
    background-color: #495057;
    color:#b1b3b5; 
    padding: 100px;     
    }
#footer h4{
    color: white;
    }

#footer p{
    text-align: justify-all;
    }
.information ul{
    list-style: circle;

    }
.information ul li a{
    text-decoration: none;
    color: #b1b3b5;
    font-size: 16px;
    font-family: Montserrat;
}
.information ul li:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;

}

.legal ul{
    list-style: circle;

    }
.legal ul li a{
    text-decoration: none;
    color: #b1b3b5;
    font-size: 16px;
    font-family: Montserrat;

    }
.legal ul li:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;

    }

.usefullinks ul{
    list-style: circle;

    }
.usefullinks ul li a{
    text-decoration: none;
    color: #b1b3b5;
    font-size: 16px;
    font-family: Montserrat;

}
.usefullinks ul li:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;

}

.socialicon ul{
    list-style: none;

    }

.socialicon ul li{
    display: inline-block;
    /*position: relative;*/
    margin-top: 20px;


}
.socialicon ul li a{
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    z-index: 1;
}
.socialicon ul li a .fa{

    color: #262626;
    transition: .5s;
    z-index: 3;

}
.socialicon ul li a:hover .fa{
    color:black;
    transform: rotateY(360deg)!important;

}


.copyright{
    height: 60px;
    background-color: #343a40;
    color:  #b1b3b5;
    text-align: center;

}


.profile-pic-section{
    height: auto;
    width: auto;
}

.profile-pic img{
    height: 200px;
    width: 200px;
}
.username-online-acc{
    height: auto;
}