{% extends 'account/Employer/employer_profile.html' %}
{% load static %}



{% block profilecontents %}
    <div class="container bg-white p-5 mt-5 mb-5">
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Views</th>
                    <th scope="col">Share</th>
                    <th scope="col">Applicants</th>
                  </tr>
                </thead>
                <tbody>
                {% for post in mypost %}
                  <tr>
                    <th scope="row"><a class="article-title" href="{% url 'jobs_employer:my_job_detail' post.user.username post.id %}">{{ post.id }}</th>
                    <td><a class="article-title" href="{% url 'jobs_employer:my_job_detail' post.user.username post.id %}">{{ post.JobTitle|safe }}</a></td>
                    <td>500</td>
                    <td>50</td>
                    <td>{{ post.jobapplys.count }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
{% endblock profilecontents %}