{% extends 'account/Employer/employer_profile.html' %}
{% load static %}


{% block profilecontents %}
   <div class="container border bg-white p-5 mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="border rounded bg-light profile-pic-section">
    
                        <div class="profile-pic pt-4 justify-content-center d-flex ">
                            <img src=" {{ user.employerrprofile.CompanyLogo.url }} " class="rounded-circle inf-fluid" alt="logo">
                        </div>
                        
                        <div class="username-online-acc border-top mt-3 w-100">
                            
                            <h6 class="username justify-content-center d-flex mt-1">@{{ user.username }}</h6>
                            {% for links in profile %}
                            <div class="justify-content-center d-flex">
                                <div class="p-2">
                                    <a href="{{ links.Facebook }}"><i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="p-2">
                                    <a href="{{ links.Twitter }}"><i class="fa fa-twitter"></i></a>
                                </div>
                                <div class="p-2">
                                    <a href="{{ links.Instagram }}"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                            
    
    
                        </div>
                        
                    </div>
                </div>
    
                <div class="col-8">
                    <div class="container">
                        <div class="table-heading d-flex">
                            <h6 class="mr-auto">Account Detail</h6>
                            <a href="" class="btn ml-auto">Edit Account</a>
                        </div>
                        {% for p in profile %}
                        <table class="table table-hover">
                                <tr>
                                    <th scope="row">Company Name:</th>
                                    <td>{{ p.CompanyName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Company Category:</th>
                                    <td>{{ profile.CompanyCategory }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Company Ownership:</th>
                                    <td>{{ profile.CompanyOwnership }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Company Website:</th>
                                    <td>{{ profile.CompanyWebsite }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Company Establish Date:</th>
                                    <td>{{ profile.CompanyEstablishDate }}</td>
                                </tr>
                                
                                <tr>
                                    <th scope="row">Company Address:</th>
                                    <td>{{ profile.CompanyAddress }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Telphone Number:</th>
                                    <td>{{ profile.TelNo }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email:</th>
                                    <td>{{ profile.Email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">MobileNo:</th>
                                    <td>{{ profile.MobileNo }}</td>
                                </tr>
                            
                                <tr>
                                    <th scope="row">About Company:</th>
                                    <td>{{ profile.AboutCompany|safe }}</td>
                                </tr>

                            
                            
                            
                        </table>
                    {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    

{% endblock profilecontents %}